/* Container Form */

.container__form {}

.form--spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-content {
    width: 400px;
    background-color: var(--white-color);
    padding: 25px;
    border-radius: 5px;
}

.form__header {
    font-size: 2.4rem;
    color: var(--text-color);
}

.form__tel-input,
.form__submit {
    width: 100%;
    padding: 10px 15px;
}

.form__tel-input {
    font-size: 1.5rem;
    opacity: 0.6;
}

.form__submit {
    text-transform: uppercase;
    color: var(--white-color);
    background-color: #EE4D2D;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    border: none;
}

.form__submit--disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.form__footer-content {
    border: none;
    border-top: 1px solid rgba(7, 7, 7, 0.3);
    padding: 0;
}

.form__footer-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.3;
    margin: 0 20px;
}

.form__footer-btn-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.form__footer-link {
    color: var(--white-color);
    text-decoration: none;
    display: block;
    width: calc(100%/3 - 2%);
    height: 40px;
}

.btn {
    padding: 10px 10px;
    font-size: 1.4rem;
    border-radius: 3px;
    color: var(--white-color);
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn:hover {
    opacity: 0.8;
}

.btn--facebook {
    background-color: #1877F2;
}

.btn--google {
    background-color: #4285F4;
}

.btn--apple {
    background-color: #000000;
}

.btn__icon {
    font-size: 1.6rem;
}

.form__footer-text {
    font-size: 1.2rem;
    padding: 0 40px;
}

.text--link {
    color: red;
    text-decoration: none;
}

.form__status {
    font-size: 1.4rem;
    margin-bottom: 0;
}

.opac-low {
    opacity: 0.4;
}