/* Header */

.header {
    width: 100%;
    height: var(--header-height);
    background: linear-gradient(-180deg, #f53d2d, #f63);
    color: var(--white-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


/* Nav Bar */

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.navbar__item,
.navbar__item-link {
    font-size: 1.3rem;
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.navbar__item {
    padding: 0 8px;
    position: relative;
}

.navbar__item--bold {
    font-weight: 450;
}

.navbar__item.logged {
    cursor: pointer;
}

.user-info--hover:hover .popout-box {
    transform: scale(1, 1);
}

.user-info__avt {
    margin-right: 3px;
}

.user-avt-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 0.1px solid rgba(0, 0, 0, 0.5);
}

.user-info__name {
    font-weight: 400;
}

.user-info__options.popout-box {
    width: 130%;
}

.user-info__option {
    padding: 12px 16px;
}

.user-info__option:hover a {
    color: rgb(160, 97, 97);
}

.user-info__option--logout {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.user-info__option--logout:hover,
.user-info__option--logout:hover a {
    color: var(--primary-color);
}

.user-info__option:hover {
    background-color: #f8f8f8;
}

.navbar__item--separate::after {
    width: 2px;
    height: 16px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F96C5C;
}

.navbar__item-login-link.navbar__item--separate::after {
    background-color: #fa8f82;
    width: 1px;
    height: 13px;
}

.navbar__item-link {
    cursor: pointer;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.navbar__item-link:hover .navbar__item-title--hover {
    opacity: 0.7;
}

.navbar__item-link-qrcode:hover .link__qrcode {
    display: flex;
}

.link__qrcode::before {
    display: block;
    content: "";
    position: absolute;
    width: 50%;
    height: 10%;
    top: -10%;
    left: 0;
}

.link__qrcode {
    width: 180px;
    position: absolute;
    top: 150%;
    left: 7px;
    display: none;
    flex-flow: column;
    background-color: var(--white-color);
    background-clip: content-box;
    animation: appear ease-in 0.2s;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.09);
    z-index: 3;
}

.link__qrcode-img {
    width: 100%;
    border-radius: 2px;
}

.link__devices {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 15px 5px;
}

.link__device-img {
    max-height: 15px;
    margin: 4px 0;
}

.navbar__item-link-popout-box {
    position: relative;
}

.popout-box::before {
    display: block;
    content: "";
    border: 14px solid transparent;
    border-bottom: 10px solid var(--white-color);
    position: absolute;
    top: -24px;
    right: 36px;
}

.popout-box {
    width: 380px;
    position: absolute;
    top: 150%;
    right: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform-origin: calc(100% - 50px) 0;
    transform: scale(0, 0);
    transition: 0.2s;
    /* animation: scale ease-in 0.2s forwards; */
    /* will-change: opacity transform; */
    z-index: 2;
}

.navbar__item-link-popout-box--hover:hover .popout-box {
    transform: scale(1, 1);
}

.popout-box--empty {
    height: 360px;
}

.popout-box--empty .when-ful {
    display: none;
}

.popout-box--ful .popout-box__content {
    max-height: 355px;
    flex-flow: column nowrap;
    justify-content: unset;
    align-items: unset;
}

.popout-box--ful .when-empty {
    display: none;
}

.popout-box__header {
    display: flex;
    height: 40px;
}

.popout-box__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.reset-a {
    color: var(--text-color);
    text-decoration: none;
}

.box-header {
    opacity: 0.3 !important;
    background-color: var(--white-color);
    justify-content: flex-start !important;
    margin-left: 10px;
}

.messagebox--padding {
    padding: 6px 10px;
}

.message--size {
    width: 100%;
    height: 71px;
}

.message-box {
    height: inherit;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

.message-box--hover:hover {
    background-color: #F8F8F8;
}

.message-icon {
    width: 40px;
    height: 40px;
}

.message-text__title {
    width: 300px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-text {
    padding: 0 5px;
}

.message-text__desc {
    font-size: 1.2rem;
    opacity: 0.8;
    text-align: justify;
}

.popout-box__image {
    width: 25%;
}

.popout-box__desc {
    opacity: 0.9;
}

.popout-box__footer {
    display: flex;
    height: 40px;
}

.popout-box__footer-button {
    flex: 1;
    /* min-height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    background-color: #e8e8e891;
}

.popout-box__footer-button--hover:hover {
    color: var(--primary-color);
    background-color: #e8e8e8;
}

.popout-box__footer-button a {
    color: inherit;
    text-decoration: none;
}


/* Search Bar */

.header__search {
    height: var(--searchbar-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.search__logo {
    margin-right: 32px;
    position: relative;
    top: -7px;
}

.search__logo-svg {
    width: 162px;
    height: 50px;
}

.search__content {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

.search-bar {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: stretch;
    padding: 3px;
    background-color: var(--white-color);
    border-radius: 3px;
}

.search__content-form {
    flex: 1;
    margin: 0;
    display: flex;
}

.search-bar__input-wrap {
    flex: 1;
    position: relative;
}

.search-bar__history {
    width: 95%;
    overflow: hidden;
    position: absolute;
    top: 125%;
    left: -3px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    color: var(--text-color);
    z-index: 2;
    transition: 0.15s;
    transform: scale(1, 0);
    transform-origin: 50% 0%;
}

.search-bar__history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
}

.search-bar__history-header {
    font-weight: 400;
    margin: 10px 10px;
}

.search-bar__history-item:hover {
    background-color: #FAFAFA;
}

.search-bar__history-item-link {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.search-bar__input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding-left: 10px;
    opacity: 0.8;
}

.search-bar__input:focus+.search-bar__history {
    transform: scale(1, 1);
}

.search-bar__select::before {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.09);
    left: 0;
}

.search-bar__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black-color);
    font-size: 1.4rem;
    opacity: 1;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
}

.search-bar__select span {
    opacity: 0.9;
}

.search-bar__select-icon {
    font-size: 0.9rem;
    margin-left: 20px;
}

.search-bar__select:hover .search-bar__options {
    display: unset;
}

.search-bar__options {
    width: 105%;
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.09);
    z-index: 1;
    display: none;
}

.option__detail {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 12px;
    opacity: 1;
    border-radius: 2px;
}

.option__detail-icon {
    font-size: 1.2rem;
    color: var(--primary-color);
    /* margin-left: 16px; */
}

.option__detail:hover {
    background-color: #FBFBFB;
}

.search-bar__btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    font-size: 1.6rem;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;
}

.search-bar__btn:hover {
    opacity: 0.9;
}

.search-nav {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 4px;
}

.search-nav__item {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0.9;
}

.search-nav__item+.search-nav__item {
    margin-left: 15px;
}

.search__cart {
    width: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.search__cart-content {
    position: relative;
}

.search__cart-content a {
    color: inherit;
    text-decoration: none;
}

.search__cart-popout-box::before {
    border: 14px solid transparent;
    border-bottom: 8px solid var(--white-color);
    right: 14px;
    top: -21px;
    cursor: pointer;
}

.popout-box__bridge::after {
    display: block;
    content: "";
    width: 100%;
    height: 16px;
    position: absolute;
    right: 0;
    top: -16px;
    cursor: pointer;
}

.search__cart-popout-box {
    height: 280px;
    right: -15px;
    transform-origin: calc(100% - 25px) 0;
}

.search__cart-content--hover:hover .popout-box {
    transform: scale(1, 1);
}


/* Container */

.container {
    background-color: #F5F5F5;
    border-radius: 2px;
    padding-bottom: 70px;
}

.container__return-bar {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 20px 0;
}

.container__return-link {
    /* display: block; */
    color: var(--black-color);
    text-decoration: none;
}

.container__content {
    display: flex;
    flex-flow: row nowrap;
}


/* Side Bar */

.container__sidebar {
    background-color: var(--white-color);
    border-radius: inherit;
}

.sidebar__logo {
    position: relative;
}

.sidebar__logo--background {
    padding-top: 100%;
    background: url(../img/shop-logo.png) no-repeat;
    background-size: 100%;
    filter: brightness(50%) blur(1.2px);
}

.sidebar__logo-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    text-align: center;
}

.sidebar__logo-contain {
    position: relative;
}

.sidebar__logo-img {
    border-radius: 100%;
    border: 5px solid #e8e8e8;
    max-width: 50%;
}

.sidebar__logo-like {
    display: block;
    min-width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white-color);
    transform: translate(-50%, 180%);
    background-color: var(--primary-color);
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: default;
}

.sidebar__logo--font-size {
    font-size: 1.2rem;
}

.sidebar__logo-status {
    opacity: 0.8;
}

.sidebar__category--font-size {
    font-size: 1.3rem;
}

.sidebar__category {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 20px;
    margin-top: 10px;
    color: var(--text-color);
}

.category-item {
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    right: 0;
    transition: 0.2s;
}

.category-item:hover {
    right: -5px;
}

.category__title {
    align-items: unset;
}

.category__title-icon {
    margin-right: 5px;
}

.category__title-text {
    font-size: 1.6rem;
}

.category-item--noborder {
    border: none !important;
}

.category-item--active {
    color: var(--primary-color);
}

.category-item--active::before {
    display: block;
    content: "";
    border: 3px solid transparent;
    border-left-color: var(--primary-color);
    position: absolute;
    left: -12px;
}

.category-item:last-child {
    margin-bottom: 40px;
}

.category-item+.category-item {
    border-top: 1px solid #F7DBDB;
}

.category-item-link {
    color: inherit;
    text-decoration: none;
}


/* Sort Bar */

.sortbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #EDEDED;
    padding: 12px 16px;
    font-size: 1.4rem;
    border-radius: 2px;
}

.sortbar--display {
    display: flex;
    align-items: center;
}


/* Sort Bar Left */

.sortbar-left {
    margin-left: 6px;
}

.sortbar__label {
    opacity: 0.7;
}

.sortbar-item {
    margin-left: 15px;
    opacity: 0.8;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 9px 16px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.15s;
}

.sortbar-item--active {
    background-color: var(--primary-color);
    color: var(--white-color);
    opacity: 1;
}

.sortbar-left__select {
    min-width: 200px;
    position: relative;
    z-index: 1;
}

.select__label {
    display: flex;
    justify-content: space-between
}

.sortbar-left__select:hover,
.sortbar-left__select:hover .select__options {
    display: block;
    opacity: 1;
}

.sortbar-left__select::after {
    width: 100%;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
}

.select__options {
    position: absolute;
    top: 105%;
    left: 0;
    background-color: var(--white-color);
    display: none;
    animation: appear ease-in 0.15s;
}

.select__option {
    padding: 12px 16px;
    min-width: 200px;
}

.select__option:hover {
    color: var(--primary-color);
}


/* Sort Bar Right */

.sortbar-right {
    justify-content: flex-end;
}

.thispage {
    color: var(--primary-color);
    font-weight: 700;
}

.sortbar-right__btns {
    width: 72px;
    height: 34px;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 16px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09);
}

.sortbar-right__btn {
    flex: 1;
    display: flex;
    border: 1px solid #eee;
    background-color: var(--white-color);
}

.sortbar-right__btn a {
    margin: auto;
}

.sortbar-right__btn--disable {
    cursor: text;
    opacity: 0.5;
}

.sortbar-right__btn--disable a {
    color: #ccc;
}


/* Products List */

.product-item {
    border-radius: 2px;
    font-size: 1.1rem;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;
}

.product-item__link {
    display: block;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
}

.product-item:hover {
    animation: floating ease 0.4s forwards;
}

@keyframes floating {
    to {
        transform: translateY(-3px);
    }
}

.product-item a {
    color: var(--black-color);
    text-decoration: none;
}

.product-item__img {
    position: relative;
}

.product-item__img-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background--freeship {
    background: url(../img/product-img0.png) no-repeat;
    background-size: 100%;
}

.background--fav {
    background: url(../img/product-fav.png) no-repeat;
    background-size: 90%;
    background-position: 55% 53%;
    height: inherit;
}

.fav-label::before {
    display: block;
    content: "";
    border: 2px solid transparent;
    border-bottom: 2px solid red;
    position: absolute;
    top: 86%;
    left: 1px;
    transform: rotate( 45deg);
    filter: brightness(60%);
}

.fav-label {
    background-color: var(--primary-color);
    height: 16px;
    width: 65px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    top: 5%;
    left: -2px;
    bottom: unset;
    right: unset;
}

.sell-rate {
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    text-align: center;
    background-color: #FFD839;
    font-size: 1.2rem;
    padding: 0 3.13px;
}

.sell-rate::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    border: 18px solid #FFD839;
    border-top: 0px solid transparent;
    border-bottom: 4px solid transparent;
}

.sell-rate_numb {
    color: var(--primary-color);
    font-weight: bold;
}

.product-item__overlay {
    width: 100%;
}

.product-item-atriibute--space {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-item__content {
    padding: 4px 10px;
    background-color: var(--white-color);
}

.product-item__name {
    max-height: 28px;
    overflow: hidden;
}

.product-item__deal {
    width: fit-content;
    color: var(--primary-color);
    padding: 0px 6px;
    border: 1px solid red;
    font-size: 0.9rem;
}

.product-item__cost--unit::before {
    display: inline-block;
    content: "đ";
    text-decoration: underline;
    font-size: 1rem;
}

.product-item__cost {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

.product-item__cost-list {
    display: flex;
    flex: 1;
}

.product-item__original-cost {
    width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-item__sale-cost {
    flex: 1;
}

.product-item__cost--disable {
    color: var(--black-color);
    opacity: 0.7;
    text-decoration: line-through;
}

.product-item__cost--active {
    color: var(--primary-color);
}

.product-item__cost-icon {
    font-size: 1.2rem;
    line-height: 18px;
}

.product-item__status {
    display: flex;
    justify-content: space-between;
}

.product-item__status-favorite {
    flex: 1;
}

.status-favorite__btn {
    display: none;
    cursor: pointer;
}

.status-favorite__btn:last-child {
    color: var(--primary-color);
}

.status-favorite__btn--visible {
    display: unset;
}

.product-item__status-rate {
    display: flex;
    align-items: center;
}

.up .js-status-favorite__btn-rateup {
    display: unset;
}

.up .js-status-favorite__btn-nonrate {
    display: none;
}

.status-icon__item {
    font-size: 0.8rem;
    color: yellowgreen;
}

.product-item__status-sell {
    margin-left: 4px;
    font-size: 1.2rem;
    opacity: 0.9;
}

.product-item__location {
    text-align: right;
    font-size: 1.2rem;
    opacity: 0.7;
}


/* Footer */

.footer {
    display: flex;
    flex-flow: column nowrap;
}


/* Switch Page */

.container__switch-bar {
    min-height: 100px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__switch-btn a {
    color: inherit;
    text-decoration: none;
}

.container__switch-btn {
    font-size: 2rem;
    opacity: 0.6;
    background-color: transparent;
    margin: 0 10px;
}