/* Container Form */

.container__form {}

.form--spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-content {
    width: 400px;
    background-color: var(--white-color);
    padding: 25px;
    border-radius: 5px;
}

.form__header {
    height: 60px;
    max-height: 100%;
    font-size: 2.4rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
}

.form__header-text {
    line-height: 60px;
}


/* Login QR */

.small-box {
    width: 60%;
    font-size: 1.2rem;
    display: flex;
    align-self: stretch;
    align-items: center;
}

.box {
    width: 75%;
    color: #ffbf00;
    border: 2px solid #ffbf00;
    background-color: #FEFAEC;
    align-self: stretch;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    position: relative;
}

.box::after {
    display: block;
    content: "";
    position: absolute;
    right: -7px;
    width: 8px;
    height: 8px;
    border: 2px solid #ffbf00;
    transform: rotate( 45deg);
    border-bottom: none;
    border-left: none;
    background-color: #FEFAEC;
}

.box__qrscan {
    margin-left: 10px;
}

.qrsize {
    width: 40px;
    height: 40px;
}

.box__qrscan--background {
    background: url(../img/qrscan.png) no-repeat;
    background-size: 100%;
}

.box__imgqr {
    width: 100%;
}


/* Form */

.form__input,
.form__submit {
    width: 100%;
    padding: 10px 15px;
}

.form__input {
    font-size: 1.5rem;
    opacity: 0.6;
    border: none;
}

.input-box {
    border: 1px solid rgba(7, 7, 7, 0.3);
}

.input-box+.input-box {
    margin: 30px 0 10px;
    position: relative;
}

.input-f-btn {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    cursor: pointer;
    opacity: 0.6;
}

.form__submit {
    text-transform: uppercase;
    color: var(--white-color);
    background-color: #EE4D2D;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

.form__submit:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.form__footer {
    margin-top: 10px;
}

.form__footer-content {
    border: none;
    border-top: 1px solid rgba(7, 7, 7, 0.3);
    padding: 0;
}

.form__footer-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.3;
    margin: 0 20px;
}

.form__footer-btn-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.form__footer-link {
    color: var(--white-color);
    text-decoration: none;
    display: block;
    width: calc(100%/3 - 2%);
    height: 40px;
}

.btn {
    padding: 10px 10px;
    font-size: 1.4rem;
    border-radius: 3px;
    color: var(--white-color);
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn:hover {
    opacity: 0.8;
}

.btn--facebook {
    background-color: #1877F2;
}

.btn--google {
    background-color: #4285F4;
}

.btn--apple {
    background-color: #000000;
}

.btn__icon {
    font-size: 1.6rem;
}

.text--link {
    font-size: 1.2rem;
    color: red;
    text-decoration: none;
}

.form__status {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.opac-low {
    opacity: 0.4;
}